.docs__status {@extend .oneTicket__status;}
.docs__fileName {@extend .fileName;}
.docs__fileSize {@extend .fileSize;}
.docs__oneTicket__id {@extend .oneTicket__id;}
.docs__oneTicket__title {@extend .oneTicket__title;}
.docs__data {@extend .oneTicket__data}
.docs__author {@extend .oneTicket__assigned}
.docs__author-name {@extend .oneTicket__assigned-name}




.docs__allDocsWrapper {
  padding: 5px 0;
  margin: 0 auto;
  i {
    color: #444;
    font-size: 18px;
  }
}
.docs__holder {
  @extend .list__oneTicketHolder;
}
.docs__singleWrapper {
  @extend .list__oneTicketHolder;
  width: 100%;
  @include rowFlex();
  justify-content: space-between;
  flex-wrap: wrap;
}
.docs__singleName {
  @include rowFlex();
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  max-width: 30%;
  position: relative;
  font-weight: 600;
}
.docs__fileName {
  max-width: 100%;
  display: flex;
  overflow-x: hidden;
  color: #333;
  font-size: 15px;
}
.docs__fileSize {
  margin: 0;
  font-size: 15px;
  color: #333;
}
.docs__fileName:after {
  @extend .oneTicket__title:after;
  width: 50%;
}

.docs__ticketCaption {
  @extend .oneTicket__caption;
  width: 250px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.docs__oneTicket__title:after {
  width: 90%;
}
.docs__data {
  width: 130px !important;
}