.list__ticketListWrapper {
  > div:last-of-type {
    border-bottom: 1px solid $color_mainBack;
  }
}
.list__controlBtnHolder {
  @include wrapperHeader;
}
.list__controlBtn {
  display: flex;
  position: relative;
  border-radius: 3px;
}
.list__addBtn {
  @include rowFlex( $j-c: space-between );
  align-items: baseline;
  padding: 0 6px;
}
.list__controlBtn-searchHolder {
  @include rowFlex( $j-c: flex-end );
  padding: 5px 0;
  margin-bottom: 0;
  > div {
    margin: 0 3px
  }
}
.controlBtn__filter-label {
  margin-bottom: 0;
}
.list__searchInput {
  background: transparent;
  padding-right: 40px;
  border-radius: 3px 0 0 3px;
}
.list__searchInput:focus + .list__searchBtn {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.list__searchBtn {
  cursor: pointer;
  height: 34px;
  border-color: transparent;
  border-radius: 0 3px 3px 0;
  @include transition;
}


/*   Table   */

.list__oneTicketHolder {
  color: #555;
  @include rowFlex( $j-c: space-between );
  height: 80px;
  width: auto;
  padding: 8px 0;
  border-top: 1px solid #e7ebef;
}
.oneTicketMeta {
  height: 100%;
  @include rowFlex( $j-c: flex-start );
  &-left {
    @extend .oneTicketMeta;
    width: -webkit-fill-available;
    position: relative;
  }
  &-right {
    @extend .oneTicketMeta;
    @include rowFlex( $j-c: space-between );
    width: 50%;
  }
}
.oneTicket__metaHolder {
  height: 80%;
  width: 125px !important;
  width: -webkit-fill-available;
  @include rowFlex( $j-c: flex-end );
  flex-wrap: wrap;
}
.oneTicket__label {
  padding: .3em .6em;
  font-size: 85%;
  font-weight: 500;
  &-priority { @extend .oneTicket__label }
  &-status { width: 15px; height: 15px; border-radius: 25px; }
}

.oneTicket__id {
  width: 50px;
  min-width: 50px;
  @include rowFlex( $j-c: flex-start );
  .icon-tag {
    color: $color_prettyBlueHEX - 20;
    min-width: 23px;
    width: 23px !important;
    font-size: small;
  }
}

.oneTicket__caption {
  color: inherit;
  height: 70%;
  max-height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.oneTicket__caption:hover {
  text-decoration:  none;
}
.oneTicket__title {
  font-weight: 600;
  align-items: center;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
}
.oneTicket__caption-down {
  max-height: 100%;
  height: 95%;
  margin-top: 3px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  color: #aaa;
  font-size: 90%;
  }
.oneTicket__title:after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(255,255,255, 0) 0%,rgba(255,255,255,.3) 30%,rgba(255,255,255,.5) 55%,rgba(255,255,255,.9) 85%,rgba(255,255,255,1) 100%);
}
.oneTicket__caption-down:after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, rgba(255,255,255, 0) 0%,rgba(255,255,255,.3) 30%,rgba(255,255,255,.5) 55%,rgba(255,255,255,.9) 85%,rgba(255,255,255,1) 100%);
}

.oneTicket__priority {
  width: auto;
  margin: 0 10px;
  @include rowFlex( $j-c: center );
}
.oneTicket__status {
  width: 30px;
  min-width: 30px;
  border-radius: 25px;
  @include rowFlex( $j-c: flex-start );
}
.oneTicket__data {
  width: 80px !important;
  margin: 0 15px;
  @include rowFlex( $j-c: baseline );
  .icon-clock {
    color: $color_prettyBlueHEX - 20;
    min-width: 23px;
    width: 23px !important;
    font-size: small;
  }
}
.oneTicket__assigned {
  width: 180px !important;
  @include rowFlex( $j-c: flex-end );
  align-items: center;
  &-name {
    text-align: end;
  }
}


/*        PAGINATION       */

.list__paginationWrapper {
  @include rowFlex( $j-c: center )
}




/*       OPTIONAL      */
.disabled {
  color: #ccc;
}
.required {
  height: auto;
  width: auto;
  color: #fff;
  font-size: 90%;
  display: inline;
  padding: 1px 2px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #d9534f;
}
sup {
  position: absolute;
  top: -1px;
  right: 0;
}