.ticket__userMetaWrapper {
  @include wrapperHeader;
  @include rowFlex();
  justify-content: flex-start;
  margin-bottom: 0;
  i {
    color: inherit;
  }
}
.ticket__userMeta {
  @include rowFlex();
  margin-right: 30px;
  &-name {
  color: #2e6da4;
  }
}
.main_avatar-ticketAvatar {
  @extend .main_avatar;
  margin: 0;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  > img {
    width: 40px;
    height: 40px;
  }
}
.ticket__meta-date {
  @include rowFlex();
  align-items: baseline;
  color: #777;

}
.ticket__addedFiles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  padding: 0 12px;
  margin-top: 25px;
  width: 100%;
  .badge {
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
  }
}

.modal-title {
  @include rowFlex();
  justify-content: flex-start;
  margin-bottom: 0;
  > i {
    color: inherit;
  }
}
.panel-group {
  width: 100%;
}

/*                RECOURSE              */

.ticket__recourseWrapper {
  @include columnFlex();
  justify-content: space-between;
  padding: 20px 0 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.ticket__recourseTitleWrapper {
  width: 100%;
  height: auto;
  min-height: 50px;
  @include rowFlex( $j-c: flex-start );
}
.ticket__recourseTitle {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.ticket__recourseText {
  font-weight: 400;
  font-size: 97%;
  color: #777;

}


/*             REPLY             */

.ticket__replyWrapper {
  @include columnFlex();
  margin: 15px 0 0;
}

.ticket__replyHolder {
  @include rowFlex();
  justify-content: baseline;
  align-items: flex-start;
  margin: 6px auto;
  width: 100%;
  &:last-child {
    margin-bottom: 5px;
  }
  &:nth-last-child(2) {
    margin-bottom: 35px;
  }
  &:first-child {
    margin-top: 15px;
  }
}
.ticket__replyAvatarWrapper {
  margin-top: 10px;
  margin-right: 10px;
}
.ticket__replyTextWrapper {
  @include columnFlex();
  align-items: baseline;
}
.ticket__replyTextTitle {
  @include rowFlex();
}
.ticket__replyName {
  margin-right: 20px;
}

.ticket__replyTextarea {
  margin-bottom: 0;
  width: 100%;
}

.ticket__replyText {
  @extend .ticket__recourseText;
  &-input {
    @extend .ticket__recourseText;
    max-width: 100% !important;
    width: 100%;
    margin: 0px -4px 0 0;
    resize: vertical;
    color: #484848 !important;
  }
  &-text {
    @extend .ticket__replyText;
  }
}




.ticket__formWrapper {
  @include columnFlex();
  margin: 15px 0 10px;
}
.ticket__formButtons {
  @include rowFlex();
  width: 100%;
  justify-content: space-between;
  > button {
    font-weight: 500;
  }
}
.ticket__formOption {
  @include rowFlex();
  padding: 0 15px 0 3px;
  .icon-star {
    color: #777;
  }
  span {
    @include centerFlex;
  }
}
.ticket__formBtn {
  @include rowFlex();
  padding: 0 15px 0 3px;
  span {
    @include centerFlex;
  }
}


.ticket__controlBtnContainer {
  min-height: 250px;
  width: 100%;
}

.mainContent__replyControlWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.mainContent__replyControlWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainContent__replyControl {
  width: 45%;
  &-specialLabel {
    width: 100%;
    padding-left: 3px;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 0s !important;
    > .btn-primary {
      transition: 0s !important;
    }
  }
  &-specialSpan {
      display: flex;
      align-items: center;
      z-index: 1000;
      height: 30px;
      width: 100%;
      text-align: start;
  }
}
.mainContent__replyControl-inputFiles {
  opacity: 0;
}
.mainContent__replyControl-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > i {
    color: #777;
  }
}
.mainContent__replyControl-select {
  margin-bottom: 2%;
  border-radius: 3px;
  max-width: 100%;
  &Files {
    width: 100%;
    position: relative;
    display: flex;
  }
}
.mainContent__control-select {
  font-family: 'Roboto regular', sans-serif;
  font-variant: all-small-caps;
  outline: none;
  min-width: 93%;
  max-width: 100% !important;
  border-radius: 3px;
}
.mainContent__replyControl-inputFiles {
  position: absolute;
  color: #eaeaea;
  top: 6px;
  border: none;
  padding-left: 3px;
  display: flex;
  align-items: center;
  outline: transparent none !important;
  outline-offset: 0 !important;
  :focus {
    outline: transparent none !important;
    outline-offset: 0 !important;
  }
  :active {
    outline: transparent none !important;
    outline-offset: 0 !important;
  }
}

.mainContent__replySubmit {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.mainContent__addFiles {
  width: 100%;
}

.uploadedFiles__holder {
  padding: 10px 0 0 10px;
}
.uploadedFiles__oneFileHolder {
  display: flex;
}
.uploadedFiles__oneFile {
  color: #23527c;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &-total {
    @extend .uploadedFiles__oneFile;
    padding-right: 12px;
    height: 20px;
  }
}
.uploadedFiles__title {
  display: flex;
  flex-wrap: wrap;
}
.fileSize {
  margin: 0 0 0 4px;
  color: #b3b3b3;
  &-total {
    @extend .fileSize;
    margin: 0;
  }
}
.icon-delete {
  color: #b3b3b3;
}
.icon-delete:hover {
  cursor: pointer;
  text-decoration: none;
}

.btn-link {
  text-decoration: none !important;
  outline: transparent none !important;
  outline-offset: 0 !important;
  :focus {
    outline: transparent none !important;
    outline-offset: 0 !important;
  }
  :active {
    outline: transparent none !important;
    outline-offset: 0 !important;
  }
  :hover {
    outline: transparent none !important;
    outline-offset: 0 !important;
  }
  > .icons {
    color: #23527c;
  }
}

.ticket__replyFiles {
  @extend .ticket__replyTextWrapper;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 20px 0;
  > img {
    max-width: 50%;
  }
  &-list {
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-input {
    height: auto;
    resize: vertical;
  }
}


.ticket__replyFiles-thumbnail {
  @include rowFlex();
  justify-content: flex-start;
  width: auto;
  > i {
    color: #23527c;
    font-size: 16px;
  }
}
.fileName {
  color: #23527c;
  @include transition;
}
.fileName:hover {
  color: #337ab7;
  text-decoration: none;
  @include transition;
}

#formArrow {
  transition: all .7s;
}
.spinMe {
  transition: all .7s;
  transform: rotateZ( 180deg );
}