/*   From Last Version   */
$color_header: #3f3c40;
$color_hoverBorder: #3F3940;
$color_title: #eaeaea;
$color_textMain: #6e7c86;
$color_iconsMain: #eaeaea;
$color_main: #946acf;
$color_mainBack: rgba(177, 169, 189, 0.3);
$color_beatifull: rgba(143, 108, 206, 0.5);

$color_PurpleBlack: #333366;

$color_prettyBlue: rgba(51, 122, 183, 0.6);
$color_prettyBlueHEX: #337ab7;
$color_prettyCoral: rgba(237, 107, 117, 0.8);
$color_prettyCoralHEX: #ed6b75;
$color_prettyGreen: rgba(102, 204, 102, 0.8);
$color_prettyGreenLight: rgba(102, 204, 102, 0.1);
$color_prettyGreenHEX: #66CC66;

$color_mainGray: #e7ebef;



$color_shadowGray: rgba(84, 79, 93, 0.2);
/*   TEXT   */
$text_FontFamily: Arial,sans-serif;
$textColor_Main: #efeeee;

/*   BACKGROUND   */
$backgroundMain_Color: white;
$backgroundMain_Img: url(../img/vert_back.jpg);
$backgroundMain_Position-x: center;
$backgroundMain_Position-y: center;

$backgroundMain_Img:
$backgroundMain_Color
$backgroundMain_Img
$backgroundMain_Position-x
$backgroundMain_Position-y
no-repeat;

/*   COLORS  */

$colorBlack: #2b2b2b;

$colorMain: #016990;

$colorMainDark: $colorMain - 20;
$colorMainVeryDark: $colorMain - 60;

$colorHeader: rgba(255, 255, 255, .85);
$colorFooter: rgba(1, 105, 144, .7);

$colorWhiteBG: rgba(239, 238, 238, .6);
$colorBG: rgba(1, 105, 144, .1);
$colorDarkerBG: rgba(1, 105, 144, .4);



/*   SIZE   */


$height_Footer: 18%;
$height_Header: 20%;
$height_Wrapper: (100% - $height_Footer - $height_Header);

$height_Logo: 50%;

/*   TEXT SIZE   */

$fontSize_Main: 10px;
$fontSize_Header: ($fontSize_Main * 2)rem;
$fontSize_Footer: 10px;




/* OTHER */

$time_Transition: .5s;





/*     Comon     */

@mixin columnFlex( $j-c: space-around )
{
  display: flex;
  flex-direction: column;
  justify-content: $j-c;
  align-items: center
}
@mixin rowFlex( $j-c: space-around )
{
  display: flex;
  justify-content: $j-c;
  align-items: center
}
@mixin centerFlex()
{
  display: flex;
  justify-content: center;
  align-items: center
}

@mixin iconsProp( $border-width: 1.5px ) {
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 25px;
}

@mixin transition() {
  transition: all .5s;
}

@mixin iconSize( $width: 30px, $height: 30px) {
  width: $width;
  height: $height;
};

@mixin maxMin() {
  max-width: 1400px;
  min-width: 635px;
}

@mixin topControlInfo() {
  width: auto;
  padding: 5px 10px 5px 2px;
  margin: 0 7px;
  height: 30px;
  color: black;
  font-weight: 600;
  font-variant: all-small-caps;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@mixin wrapperHeader() {
  height: 50px;
  margin-bottom: 15px;
  background: inherit;
  @include rowFlex( $j-c: space-between );
}

$width__fileSelectInput: 212px;

.hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}







