.menu-new, .menu__createCaption {
  margin: 0 auto;
  text-align: center;
}
.ticket__replyText-titleInput {
  @extend .ticket__replyText-input;
  margin-bottom: 20px;
}
.ticket__recourseWrapper-new {
  @extend .ticket__recourseWrapper;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 0;
  border-bottom: none;
}
.ticket__replyText-input-new {
  @extend .ticket__replyText-input;
  min-height: 150px;
}
.ticket__controlBtnContainer-new {
  @extend .ticket__controlBtnContainer;
  min-height: 120px;
}
.mainContent__addFiles-new {
  width: 45%;
}